body {
background: #aff799; 
}
h1 {
  margin-left: 25px;
}

ul li a {
    text-decoration: none;
    font-size: 25px;
    color: #000;
    margin-left: 25px;
    margin-top: 10px;
    display:block;
     }

a:hover { 
text-decoration: none; 
color: red; 
}